img {
  margin: auto;
  width: 30%;
  float: center;
}
.col-10{
  border:grey;
  margin-top:20px;
  margin-bottom: 75px;
  margin-right: 200px;
  margin-left: 5px;
}
body {
 height: 100%;
 display: block;
}
 H1 {
   font-style:italic;
 }

 li{
   display: list-item;
   margin: 0;
   padding: 0.25em 0;
   font-size: 0.75em;
   line-height: 1.125em;
 }

 div{
  margin-top: 3px;
  margin-right: 300px;
  margin-left: -100px;
}
